@font-face {
  font-family: 'Helvetica';
  src: url('Helvetica.ttf');
}

body {
  margin: 0;
  font-family: Helvetica;
  background: #000639;
  color: #fff;
}

#main {
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 24px;
  margin: 36px 0;
}

h1:after {
  content: "";
  display: block;
  margin-top: 16px;
  width: 36px;
  border-bottom: 4px solid #7AB55C;
}

p {
  margin-top: 0;
  font-size: 20px;
}

input, button[type="submit"], select {
  font-size: 16px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #7D7D7D;
  outline: none;
  color: #7B7B7B;
  width: 100%;
  box-sizing: border-box;
}

#email {
  margin-bottom: 16px;
}

.row {
  margin-right: -8px;
  margin-left: -8px;
}

.col-4 {
  float: left;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
}

.col-8 {
  float: left;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  box-sizing: border-box;
}

button[type="submit"] {
  background: #5c6ac4;
  color: #fff;
  font-weight: 700;
  margin: 16px 0 36px 0;
  border: none;
}

#error-message {
  display: none;
  margin: 8px 0 0 0;
  font-size: 16px;
  font-weight: 700;
  color: #C23628;
}

.unsubscribe {
  color: #fff;
  position: absolute;
  align-self: center;
  bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:768px) {
  .container {
    width: 750px
  }
  .col-4 {
    width: 33.33%;
  }
  .col-8 {
    width: 66.67%;
  }
  #email {
    margin-bottom: 0;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px
  }
}
